click==6.7
Flask==1.1.1
flask-cors==3.0.9
matplotlib==2.1.0
# Same version of numpy on the mtgupf/essentia:debian image installed with apt
numpy==1.21.0
scipy==1.0.0
# Needs to be binary-compatible with model pickles. Don't upgrade.
scikit-learn==0.15.2
six==1.14.0
